specVersion: 0.0.4
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: NounsToken
    network: {{network}}
    source:
      address: '{{nounsToken.address}}'
      abi: NounsToken
      startBlock: {{nounsToken.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - Transfer
      abis:
        - name: NounsToken
          file: ./abis/{{nounsToken.abiFile}}
      eventHandlers:
        {{#nounsToken.events}}
          - event: {{signature}}
            handler: {{handler}}
        {{/nounsToken.events}}
      file: ./src/nouns-token.ts
  - kind: ethereum
    name: NounletAuction
    network: {{network}}
    source:
      address: '{{nounletAuction.address}}'
      abi: NounletAuction
      startBlock: {{nounletAuction.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - ActiveModules
        - AuctionBid
        - AuctionCreated
        - AuctionExtended
        - AuctionSettled
      abis:
        - name: NounletAuction
          file: ./abis/{{nounletAuction.abiFile}}
        - name: NounletToken
          file: ./abis/{{nounletToken.abiFile}}
      eventHandlers:
        {{#nounletAuction.events}}
          - event: {{signature}}
            handler: {{handler}}
        {{/nounletAuction.events}}
      file: ./src/nounlet-auction.ts
  - kind: ethereum
    name: NounletRegistry
    network: {{network}}
    source:
      address: '{{nounletRegistry.address}}'
      abi: NounletRegistry
      startBlock: {{nounletRegistry.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - VaultDeployed
      abis:
        - name: NounletRegistry
          file: ./abis/{{nounletRegistry.abiFile}}
      eventHandlers:
        {{#nounletRegistry.events}}
          - event: {{signature}}
            handler: {{handler}}
        {{/nounletRegistry.events}}
      file: ./src/nounlet-registry.ts
  - kind: ethereum
    name: NounletGovernance
    network: {{network}}
    source:
      address: '{{nounletGovernance.address}}'
      abi: NounletGovernance
      startBlock: {{nounletGovernance.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - ClaimDelegate
      abis:
        - name: NounletGovernance
          file: ./abis/{{nounletGovernance.abiFile}}
      eventHandlers:
        {{#nounletGovernance.events}}
          - event: {{signature}}
            handler: {{handler}}
        {{/nounletGovernance.events}}
      file: ./src/nounlet-governance.ts
templates:
  - name: NounletToken
    kind: ethereum
    network: {{network}}
    source:
      abi: NounletToken
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - DelegateChanged
        - DelegateVotesChanged
      abis:
        - name: NounletToken
          file: ./abis/{{nounletToken.abiFile}}
      eventHandlers:
        {{#nounletToken.events}}
          - event: {{signature}}
            handler: {{handler}}
        {{/nounletToken.events}}
      file: ./src/nounlet-token.ts



